

#applicationSwitcher { margin-top: 5px; margin-bottom: 5px; margin-right: 10px; }
#applicationSwitcher a.dropdown-toggle { display: block; font-size: 16px; padding: 6px 10px; border-radius: 5px; background-color: #ac007c; color: #ffffff; }
#applicationSwitcher a.dropdown-toggle:hover { background-color: #000000; color: #ffffff; }
#logo { margin: 0 10px; font-weight: bold; }
#iteraplanNavigation li#logo > a:hover,
#logo a:hover { background: #ac007c; color: #ffffff; }

#globalSearch { padding-top: 6px; padding-bottom: 5px; }
#globalSearch input[type='submit'] { position: absolute; margin: 0; visibility: hidden; width: 0; height: 0; padding: 0; }/* do not use display: none; here - pos: absolute fixes vis: hidden still taking some space */


#globalSearch > a {
	color: #ac007c;
	text-decoration: none;
}

#globalSearch > a:hover {
	display: inline;
    position: relative;
    color: #000000;
	text-decoration: none;
}

.page { margin-top: 100px; }

.fa {
  font-family: FontAwesome !important;
}

.startpage-tilegroup-heading {
	border: 0;
	margin-bottom: 15px;
	margin-top: 5px;
	margin-left: 15px;
	font-size: 16px;
	font-weight: bold;
}

.startpage-tile {
	color: #444444;
	background-color: #dddddd;
	padding: 1em; 
	position: relative; 
	display: block; 
	text-align: center; 
	height: 80pt; 
	width: 80pt; 
	font-weight: bold; 
	font-size: 14px; 
	text-decoration: none;
	background-repeat: no-repeat; 
	background-position: center 25px;
}

.startpage-tile:hover {
	color: #ffffff;
	background-color: #444444;
	padding: 1em; 
	position: relative; 
	display: block; 
	text-align: center; 
	height: 80pt; 
	width: 80pt; 
	font-weight: bold;
	font-size: 14px;
	text-decoration: none;
	background-repeat: no-repeat; 
	background-position: center 25px;
}

.startpage-tile-icon {
	font-family: "FontAwesome"; 
	font-size: 60px;
	display: block;
	margin-top: 2px; 
}

.startpage-tile-span {
	color: #ac007c;
	position: absolute; 
	top: 63pt; 
	left: 0; 
	right: 0;
	margin: 0.5em;
	width: 90%;
}

.navLink > span {
	left: 10px;
    position: relative;
}

@media (max-width: 979px) {
	.page { margin-top: 0; }
}

#startpage ul { list-style: none; margin: 0; padding: 0; }
#startpage ul li { margin: 0.2em; float: left; }/* display: inline-block; */
#startpage ul li a span { width: 90%; position: absolute; top: 63pt; left: 0; right: 0; margin: 0.5em; }
#startpage ul li a span:hover { width: 90%; position: absolute; top: 63pt; left: 0; right: 0; margin: 0.5em; }


/*
Icon from image:
#reports #report-landscape { background-image: url("../../../images/graph-icons/landscapeDiagram.png"); }

Base styling in case of an image:
#reports ul li a { background-size: 80px auto; }

Icon in the JSP:
#reports #report-dashboard:before { content: "\f0e4"; font-family: "FontAwesome"; font-size: 60px; color: #ac007c; display: block; margin-top: 25px; }
#reports #report-dashboard span { font-size: 14px; }
*/


